$border_radius_size: 10px;
$hover_color: #e3e3e3;

body {
  overflow: hidden;
}

.title {
  border-bottom: solid 2px gray;
  margin: 1em 2em;
  padding-bottom: 20px;
}


.display-wrapper{
    width: 320px;
    margin: 0 auto;

    .formula{
        text-align: right;
        padding: 0 10px;
        @extend .overflow-scrollbar;
    }

    .display {
    text-align: right;
    font-size: 32px;
    border-radius: $border_radius_size;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px gray;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    @extend .overflow-scrollbar;
    }
}

.buttonPanel {
  width: 360px;
  margin: 0 auto;
  .buttonAll {
    width: 260px;
  }
  button {
    width: 80px;
    height: 80px;
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 5px;
    font-size: 20px;
    border-radius: $border_radius_size;
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

    /*PC*/
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: $hover_color;
      }
    }

    /*ios android*/
    @media (hover: none) {
      &:active {
        background-color: $hover_color;
      }
    }
  }
}


.overflow-scrollbar{
    overflow-y: auto;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    /* Chrome, Safari 対応 */
    &::-webkit-scrollbar {
        display: none;
    }

}

